<!Doctype html>
<html>

	<head>
		<title>TA Hours Login</title>
		<!-- Include JQuery: -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Include CSS: -->
 		<link rel="stylesheet" type="text/css" href="main.css">

	</head>

	<body>
		<div id="question-container">
			<div id="grunkle"></div>
			<div id = "center" class ="fullscreen-box">
				<div id= "centerOfCenter">
					<p>
						Are you part of the TA staff?
					</p>
					<form method="POST", action="/authenticate">
						<label id = "Yes"><input type="radio" name="yesOrNo" value="Yes">Yes</label>
						<label id = "No"><input type="radio"  name="yesOrNo" value="No"> No</label>
						<button type="submit" id="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<!-- Main.js is "lazy loaded" after all other elements have loaded: -->
		<script src="login.js"></script>
	</body>
</html>