/*login.css*/
@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';
html, body {
	margin:0;
	padding:0;
	border:0;
	height:100%;
	overflow:auto;
	background-image: url('../backgroundLogin.jpg');
	background-position:center top;
	min-width:500px;

	font-family: 'Reem Kufi', sans-serif;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#header{
	background-image: url('../portal.png');
	background-position: right bottom;
	background-size:contain;
	background-repeat:no-repeat;
	height:200px;
	max-width:80%;
	margin:auto;
	color:#fff;
	position:relative;
	margin-top: 0px;
}

#header>h1 {
	font-size:5.5vw;
	position:absolute;
	bottom:1vh;
	left:1vw;
	text-shadow: 0 0 10px #333;
}

#question-container {
	position:absolute;
	top:20px;
	bottom:20px;
	left:0;
	right:0;
}

#grunkle {
	height:40%;
	width:90%;
	max-width:900px;
	max-height:500px;
	min-width:500px;
	min-height:150px;
	background-image: url('../keyhand_final.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center top;
	margin:auto;
	z-index: 2;
	position:relative;
} 


.fullscreen-box {
	width:90%;
	height:60%;
	max-width:500px;
	max-height:500px;
	margin:auto;
}

#centerStudent{
	margin:auto;
	min-width:943px;
	background:#fff;
	padding: 20px;
	width:80%;
	height: 70%;
	min-height: 455px;
	max-height: 625px;
	box-shadow: 0 0 20px #000;
	margin-bottom:30px;
}

#questions{
	width: 49%;
	height: 100%;
	text-align: center;
	border: 2px dashed #dddddd;
	padding: 20px;
	float: left;
}

#centerQuestions{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #dddddd;
}

#nameDiv, #placeDiv, #classDiv, #helpDiv, #submitDiv{
	height: 20%;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 80%;
}

/*#moreCenter{
	position: relative;
  	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
}*/

.questionLabel{
	width: 100%;
	display:block;
	vertical-align:middle;
	padding: 0px;
}


#center {
	text-align:center;
	line-height:50px;
	text-transform:uppercase;
}

#centerOfCenter {
	background:#fff;
	padding:20px;
	box-shadow: 0 0 20px #000;
}

#queue{
	float: right;
	width: 49%;
	height: 100%;
	text-align: center;
	border: 2px dashed #dddddd;
	padding: 20px;

}
h2{
	margin: 0px;
	height: 10px;
}

#title{
	height: 10%;
}

#listDiv{
	height: 90%;
	background-color: #dddddd;
	overflow-y: scroll;
	overflow-x: hidden;
}

ul{
	margin: 0px;
	list-style-type: none;
	padding: 20px;
}

li{
	border: 1px solid #FFFFFF;
	margin-bottom: 5px
}

select, #name{
	font-family:'Reem Kufi', sans-serif;
	font-size: 15px;
}

#submit{
	display:block;
    font-family: 'Reem Kufi', sans-serif;
    padding:15px;
    width:100%;
    background:#de644d;
    text-align:center;
    margin:0;
    color:#111;
    font-size:20px;
    box-sizing: border-box;
    border:0;
    cursor:pointer;
}

p{
	display:block;
    font-family: 'Reem Kufi', sans-serif;
    padding:5px;
    width:100%;
    background: #E8E8E8;
    text-align:center;
    margin:0;
    color:#111;
    font-size:20px;
    box-sizing: border-box;
    border:0;
}

#message {
	margin-bottom:20px;
	border:1px solid #9f6000;
	padding:2px;
	text-align:left;
	font-family: "Helvetica", sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:bold;
	text-transform: none;
	padding:10px;
	color:crimson;
	background-color:#ffe5e5;
}


.error{
	display: inline;
	text-align: center;
	color: red;
	float: center;
	background: none;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	margin: 0px;
}


