@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

html, body {
	margin:0;
	padding:0;
	border:0;
	height:100%;
	overflow:auto;
	background-image: url('../backgroundLogin.jpg');
	background-position:center top;
	min-width:500px;

	font-family: 'Reem Kufi', sans-serif;
}

#header{
	background-image: url('../portal.png');
	background-position: right bottom;
	background-size:contain;
	background-repeat:no-repeat;
	height:200px;
	max-width:80%;
	margin:auto;
	color:#fff;
	position:relative;
	margin-top: 0px;
}

#header>h1 {
	font-size:5.5vw;
	position:absolute;
	bottom:1vh;
	left:1vw;
	text-shadow: 0 0 10px #333;
	margin-bottom: 2px
}

.redX{
	width:20px;
	height:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
	background-color: #FFFFFF;
	margin: auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 20px #000;
}

th{
	text-align: center;
}

#topRow{
	background-color: #E8E8E8
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
